footer{
    background: var(--secundario);
    margin-top: auto;
}
footer h2, footer a{
    color: var(--blanco);
}
footer .caja-2 p, footer .caja-3 p{
    margin-bottom: 0;
}
footer .caja-1 .redes-sociales{
    margin-top: 20px;
}
footer h2{
    margin-bottom: 20px;
}
div.wpp{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 45px;
    height: 45px;
    background: #4aae20;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
div.wpp i{
    font-size: 50px;
}
div.wpp i::before{
    margin: 0 !important;
}
footer img{
    max-width: 100% !important;
}