#hero .carousel-inner, .hero-2{
    height: 80vh;
}
.hero-2{
    margin-top: -80vh !important;
    z-index: 80;
}
.hero-2 h1, .hero-2 h2{
    z-index: 80;
}
.hero{
    margin-top: 174.8px;
}
.foto-descripcion img{
    width: 100%;
}
.aplicaciones i{
    margin-left: 0 !important;
}
.beneficios .columna1{
    background: var(--rosa-oscuro);
}
.beneficios .columna2{
    background: var(--rosa-claro);
}
@media screen and (max-width: 575px) {
    .hero {
        margin-top: 238.8px;
    }   
}
@media screen and (max-width:450px) {
    .hero {
        margin-top: 217.19px;
    } 
}
