#hero .carousel-inner, .hero-2{
    height: 80vh;
}
.hero-2{
    margin-top: -80vh !important;
    z-index: 80;
}
.hero-2 h1, .hero-2 h2{
    z-index: 80;
}
.hero{
    margin-top: 148.8px;
}
.foto-descripcion img{
    width: 100%;
}