header{
    background: var(--negro);
    max-width: 100vw;
}
header .contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
i{
    font-size: 18px;
    color: var(--blanco);
    margin: 0px 5px;
}
i::before{
    margin-right: 5px;
}
.navbar-nav a:hover{
    color: var(--primario) !important;
}
header img{
    max-width: 100%;
}
.navbar-nav a{
    padding: 10px 15px !important;
}
@media screen and (max-width:450px) {
    .navbar-brand{
        width: 200px !important;
    }
}